<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Чуй</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid px-0">
      <img src="https://www.discoverkyrgyzstan.org/sites/default/files/styles/hero/public/551467889285_big_0.jpg?itok=s6HHrCs1"  class="img-fluid" />
      <div class="container fs-1 my-5">
        ЗиЛ Тоо Лыжа Базасы Бишкек шаарынан 35 км аралыкта, деңиз деңгээлинен 1850 метр бийиктикте турган кооз аймакта жайгашкан. База жылдан жылга өнүгүп, Кыргызстандык жана чет элдик туристтердин эң жакшы көргөн тоо лыжа базаларынан болуп келатат. Базада лыжа сүйүүчүлөрү тоо кырлырына жеткирүү үчүн 5 көтөргүч иштейт. Коноктор үчүн 135 орундук 3 кафе, эң мыкты инфыраструктурага ээ 19 номерлүү конок комплекси, лыжа ижара пункту жана медпункт иштейт. Лыжа тебүү сезону: декабрь – март. Базадан 5 км өйдөрөөк 3500 м бийиктикте Кеңтөр мөңгүсү жайгашкан. Мөңгүгө джип автоунаасы менен барууга болот. Эгерде базанын планы боюнча мөңгүнүн үстүнө аркан жол тартылса, анда бул жерде жыл бою лыжа тебүүгө болот.
      </div>
    </main>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
