<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ысык-Кол</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid px-0">
      <img src="https://www.discoverkyrgyzstan.org/sites/default/files/styles/hero/public/201467280548_big.jpg?itok=ekgWLn9e" class="img-fluid" />
      <div class="container fs-1 my-5">
        Иссык-Куль - высокогорное озеро, окруженное с двух сторон хребтами Терскей и Кюнгей Ала-Тоо. Из-за того, что вода в озере не замерзает даже в самое холодное время года, распространено мнение, что название «Ысык Кёль» в переводе с кыргызского означает «горячее озеро». Но есть и культовое значение данного топонима: прилагательное «ысык» является фонетически измененной формой древнетюркского слова «ыдык» - священный, святой. Этот уникальный водоем в истории считался священным озером. Расположенное на высоте 1609 м озеро имеет площадь 6236 кв. км, среднюю глубину 300 м (в самом глубоком месте достигает 668 м) и является одним из самых крупных и глубоких высокогорных озер в мире. Побережье озера славится своей природой и исключительным морским климатом. Иссык Куль - это курортная зона, где расположено множество лечебных санаториев, гостиниц и частных гостевых домов.
      </div>
    </main>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
