<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Нарын</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid px-0">
      <img src="https://www.discoverkyrgyzstan.org/sites/default/files/styles/hero/public/1467280583_1.jpg?itok=c1GyAcs3" class="img-fluid" />
      <div class="container fs-1 my-5">
        Исторический караван-сарай Таш Рабат расположен в 110 км. от города Нарын, в ущелье Кара Коюн на высоте 3200 м. Этот архитектурный памятник XV-века находится на Великом шелковом пути. В средние века Таш Рабат был пристанищем для торговцев и путешественников по дороге, свазывающей Ферганскую и Чуйскую долину с Кашгаром.      </div>
    </main>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
