<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Джалал Абад</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid px-0">
      <img src="https://www.discoverkyrgyzstan.org/sites/default/files/styles/hero/public/41467279153_big.jpg?itok=Tf2KXhXY" class="img-fluid" />
      <div class="container fs-1 my-5">
        Ош шаарынан 70 км аралыкта, деңиз денгээлинен 1500-2500 м бийиктикте жайгашкан Абшыр Сай өрөөнүндө табышмактуу Абшыр Ата шаркыратмасы орун алган. Шаркыратмага жетиш үчүн капчыгайдагы дарыянын бою менен болжолдуу 3 км басыш керек. Шаркыратма 35 м тик асканын боорунан жерден 12-15 м бийиктикте, диаметри 1,5- 2 м болгон тешиктен дүркүрөгөп суурулуп агып түшөт. Минералдык туздарды камтыган суу шыпалуу деп эсептелет.
    </div>
    </main>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
