<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Джалал Абад</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid px-0">
      <img src="https://www.discoverkyrgyzstan.org/sites/default/files/styles/hero/public/1468255649_1.jpg?itok=V746Glx-" class="img-fluid" />
      <div class="container fs-1 my-5">
        Орто кылымга таандык бул архитектуралык эстелик Талас шаарынан түндүк- чыгышты карай 22 км. аралыкта, Кеңкөл өрөөнүндө жайгашкан. Күмбөз эл ичинде жана илимий адабияттарда «Манастын күмбөзү» деген ат менен белгилүү. Чындыгында күмбөздүн бетинде анын Чагатай эмиринин кызына таандык экендиги жазылуу. Жалпыга маалым уламышта болсо күмбөздүн Манастын жаншериги Каныкейдин буйругу менен Букар жана Самаркандан келген усталардын салганы; душмандарды алагды кылуу үчүн маңдайына бир байдын кызынын аты жазылганы баяндалат. Бышкан кыштан салынган чакан имарат оймо-чийме жана араб тамгалары менен жазылган жазуулар менен кооздолгон. Бүгүн анын айланасына Манас Ордо архитектуралык комплекси курулган.      </div>
    </main>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
